body{
    font-family:'Courier New', Courier, monospace;
    max-width: 900px;
    margin: auto;
}

header{
    text-align: center;
}header h1{
    font-size: 50px;
    font-weight: bold;
}

main h1{
    font-size: 40px;
}

ul{
    list-style-type: none;
    text-align: start;
}li{
    margin: 5px;
    font-size: 20px;
}

a{
    font-size: 20px;
    color: #000;
}a:visited{
    color: #000;
}

footer{
    text-align: center;
    margin-top: 50px;
}footer a{
    font-size: 15px;
}


.laranja{
    color: orange;
}
.azul{
    color: blue;
}
.vermelho{
    color: red;
}
.roxo{
    color: blueviolet;
}